{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Create Short Link | URL Shortener</title>
        <link href="{% static 'url_shortener/bootstrap-4.5.3/css/bootstrap.min.css' %}" rel="stylesheet">
    </head>
    <body class="bg-light">
        <div class="container">
            <div class="py-5 text-center">
                <h2>Create Short URL</h2>
                <p class="lead">Complete the fields below to create a short URL.</p>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <label for="url">Original URL</label>
                    <input type="text" class="form-control" id="url" placeholder="" value="" required>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <label for="signature">Signing Key</label>
                    <input type="text" class="form-control" id="signing_key" placeholder="" value="" required>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <label for="tracking_code">Requested Tracking Code (Optional)</label>
                    <input type="text" class="form-control" id="tracking_code" placeholder="" value="">
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <hr />
                    <button id="submit" class="btn btn-primary btn-lg btn-block">Request Link</button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <script src="{% static 'url_shortener/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'url_shortener/bootstrap-4.5.3/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'url_shortener/nacl_factory.js' %}"></script>
        <script>
            $(document).ready(function() {
                nacl_factory.instantiate(function (nacl) {
                    $("#submit").click(function(event){
                        event.preventDefault();
                        
                        var signing_key_str = $("#signing_key").val();
                        var signing_key = nacl.from_hex(signing_key_str);
                    
                        var url = $("#url").val();
                        var tracking_code = $("#tracking_code").val();
                    
                        var url_utf8 = new TextEncoder("utf-8").encode(url);                    
                    
                        var signature = nacl.crypto_sign_detached(url_utf8, signing_key);

                        console.log('SIG: ' + nacl.to_hex(signature))
                        console.log('KEY: ' + nacl.to_hex(signing_key))
                        
                        var payload = {
                            'url': url,
                            'signature': nacl.to_hex(signature),
                            'tracking_code': tracking_code,
                        };
                        
                        $.post("{% url 'url_tracker_create_link' %}", payload, function(data) {
                            console.log("DATA:");
                            console.log(data);
                            
                            alert('Short URL created: ' + data['short_url']);
                        });
                    });
                });
            });
        </script>
    </body>
</html>
